
/* Reset */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, code, img, 
small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.5;
        font-family: helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}

/* End Reset */

h2 {
 font-size: 27px;
}

p {
 font-size: 14px;
}

a {
 text-decoration: none;
 color: #4e4e4e;
 font-size: 14px;
}

a:hover {
 text-decoration: underline;
}

input {
 background: #696969;
 border: 1px solid #c3c3c3;
 color: #cbcbcb;
 padding: 3px;
}

input:focus, input:hover {
 background: #ededed;
 color: #4e4e4e;
}


/* Main Styles */

body {
 background: #f2f2f2 url(img/bg1.jpg)   ;
}

#wrap {
 width: 960px;
 margin: auto;
}



/* Main Content */

.meta {
    
    margin: 10px;
    display: inherit;
     overflow: hidden;

}



#main {
 clear: both;
 overflow: hidden;
margin-top: 10px; 
}

#main #primary {
 float: left;
 width: 630px;
}

#main #secondary {
 float: right;
 width: 300px;
}

#main #primary .post-item {
    background: transparent;
 margin-bottom: 20px;
 border: 1px solid white;
 overflow: hidden;
 padding-right: 40px;
}

.post-item img {
 float: left;
 padding: 30px 20px 30px 30px;
}

.post-item h2 {
 padding-top: 5px;
}

.post-item p.meta {
 background: #9c2323;
 color: white;
 font-size: 11px;
 font-style: normal;
 padding: 4px;
 margin-left: 250px;
 margin-bottom: 14px;
 width: 100px;
 min-width: 100px;
 text-align: center;
 border-bottom: 1px solid white;
}

.post-item p {
 color: #7e7e7e;
 font-style: italic;
}

/* Next and Previous Buttons */

.more {
 background: url(img/nextPrevButton.jpg) no-repeat;
 padding: 8px;
 color: white;
 font-size: 12px;
 font-style: italic;
 float: right;
 border: 1px solid white;
 border-right: none;
 border-left: none;
}


/* Secondary/Sidebar */

.secondaryBox {
 background: gray;
 border: 1px solid white;
 margin-bottom: 28px;
 padding: 0 4%;
 overflow: hidden;
}

.secondaryBox h3 {
 background: #9c2323;
 color: white;
 margin: 4% 0;
 font-size: 12px;
 font-weight: normal;
 padding: 3px 0 2px 8px;
}

#photos img {
 border: none;
}

#photos img.featuredImage {
 border: 1px solid white;
 margin: 0; padding: 0;
 width: 100%;
}

#photos p {
 float: left;
 color: #737373;
}

#photos .prevNext {
 float: right;
}

/*#recentEntries ul li,
ul#popPosts li {
 padding: 3px 0 3px 0;
 border-bottom: 1px solid #bbbbbb;
 border-top: 1px solid white;
}

#recentEntries ul li:first-child,
#popPosts li:first-child {
 border-top: none;
}

#recentEntries ul li:last-child,
#popPosts li:last-child {
 border-bottom: none;
}

#recentEntries ul li a {
 font-size: 12px;
}*/